<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Tags -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Document Title -->
		<title>Incremental GPS Coordinates</title>
		<!-- Fonts -->
		<link rel="stylesheet" href="https://use.typekit.net/tbs8oug.css" />
		<!-- Styles -->
		<%- include("partials/styles/styles.ejs" ) %>
		<!-- Code Snippets -->
		<%- include("partials/scripts/snippets.ejs" ) %>
		<!-- Google Maps -->
		<%- include("partials/scripts/initRoute.ejs" ) %> <%-
		include("partials/scripts/initMarkers.ejs" ) %> <%-
		include("partials/scripts/initMap.ejs" ) %>
	</head>
	<body onload="changeCode('javascript');">
		<header>
			<h1>Get incremental GPS Coordinates between two addresses.</h1>
			<p>
				<span style="font-style: italic"
					>Tool created by James Worden</span
				>
				<br />
			</p>
			<button
				onclick="window.location.href='https://github.com/jamesworden/jamesworden-research'"
			>
				See code on GitHub &#8594;
			</button>
		</header>
		<div id="container">
			<section>
				<h2>Map</h2>
				<div id="count"></div>
				<div id="map" class="fullscreen"></div>
				<p id="status"></p>
				<p>
					Given an origin and destination address, an array of GPS
					coordinates will be returned. Each coordinate is an array
					itself - the first and seconds points are latitude and
					longitude, respectfully. Get coordinates incrementally
					according to the the 'increment' parameter.
				</p>
				<form id="form">
					<label for="origin">Origin Address</label><br />
					<input
						type="text"
						id="origin"
						name="origin"
						placeholder="<%= origin %>"
					/><br />
					<label for="destination">Destination Address</label><br />
					<input
						type="text"
						id="destination"
						name="destination"
						placeholder="<%= destination %>"
					/><br />
					<label for="increment">
						Increment distance (in meters) </label
					><br />
					<input
						type="number"
						id="increment"
						name="increment"
						min="1"
						max="100"
						placeholder="<%= increment%>"
					/><br />
					<button type="submit">Get route</button>
				</form>
				<p>Http GET request between the two given addresses:</p>
				<div class="code">
					https://research.jamesworden.com/route?<br />
					origin=<strong><%= origin %></strong><br />
					&destination=<strong><%= destination %></strong><br />
					&increment=<strong><%= increment %></strong>
				</div>
				<p>
					Make sure to add your API key to the request header.
					(Contact James for a key.)
				</p>
				<div class="code">-H "x-api-key: YOUR_KEY_HERE"</div>
				<p>First 5 coordinate pairs returned.</p>
				<pre id="data" class="code"></pre>
			</section>
			<section>
				<h2>Google StreetView Integration</h2>
				<p>
					The Google StreetView API contains panorama images that can
					be referenced by <strong>panorama id</strong> strings. Add
					an extra <strong>panorama</strong> query parameter at the
					end of your GET request to retrieve panorama id's with each
					coordinate pair.
				</p>
				<p>
					Setting <strong>panorama</strong> to
					<strong>true</strong> will include panorama id's.
				</p>
				<div class="code">&panorama=true</div>
				<p>
					By default, this setting is false. When true, however, the
					coordinate pair JSON objects will appear as follows:
				</p>
				<pre class="code">
{
	"location": {
		"latitude": 40.72499649420905,
		"longitude": -73.79225323669348
	},
	"pano_id": "PANORAMA_ID"
}
				</pre
				>
			</section>
			<section>
				<h2>Example Code</h2>
				<div id="button-container">
					<button
						class="code-button"
						id="javascript-button"
						onclick="changeCode('javascript')"
					>
						JavaScript
					</button>
					<button
						class="code-button"
						id="java-button"
						onclick="changeCode('java')"
					>
						Java
					</button>
					<button
						class="code-button"
						id="python-button"
						onclick="changeCode('python')"
					>
						Python
					</button>
				</div>
				<%- include("partials/snippets/javascript.ejs") %> <%-
				include("partials/snippets/java.ejs") %> <%-
				include("partials/snippets/python.ejs") %>
			</section>
		</div>
	</body>
</html>
